# 若要了解有关 .editorconfig 的详细信息，请参阅 https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Xml files
[*.xml]
indent_size = 2
